@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}

@coduction:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${CODUCTION_PACKAGES_TOKEN}
