@import "../fontawesome";

.p-inputtext {
  &.ng-pending {
    padding-right: 2.5rem;
  }
}

.p-input-icon-left > i, .p-input-icon-left > .p-icon-wrapper, .p-input-icon-right > i, .p-input-icon-right > .p-icon-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}
